<div class="header" ngSkipHydration>
      <div class="heading"><a href="">PT</a></div>
       <nav class="nav">
          <a href="#head"><i class="fas fa-home"></i>Home</a>
          <a href="#about"><i class="fas fa-info-circle"></i>About</a>
          <a href="#experience"><i class="fas fa-graduation-cap"></i>Experience</a>
          <a href="#projects"><i class="fas fa-graduation-cap"></i>Projects</a>
          <a href="#skills"><i class="fas fa-briefcase"></i>Skills</a>
          <a href="#contact">Contact</a>
        </nav>
      </div>
