
.heading{
  position: absolute;
  display:block;
  margin-left: -39%;
  font-size: 34px;
  top: 0%;
  color: #FFF;
  padding: 1% 1% 1% 1%;
  width: 100%;
  height: 50px;
  z-index: 0;
  font-family: 'helvetica', 'san-serif';
  text-shadow: 0px 0px 5px rgb(112, 109, 109), 0px 0px 10px black;

}


/* Navigation */
.nav {
  font-size: 34px;
  text-align: right;
  top: 1.5%;
  right: 0%;
  position: absolute;

}

.nav a {
  color: whitesmoke;
  display: inline-block;
  font-family: 'helvetica', 'san-serif';
  text-decoration: none;
  cursor: pointer;
  text-decoration:none;
  padding: 5px 10px;
  position: relative;
  z-index: 0;

}



/* blackbackground */
.bg-ornage-grey {

}


/* Top and Bottom borders go out */
nav.topBotomBordersOut a:before, nav.topBotomBordersOut a:after
{
    position:absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.2s;
}

nav.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(15px);
}

nav.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-15px);
}

nav.topBotomBordersOut a:hover:before, nav.topBotomBordersOut a:hover:after
{
    opacity: 2;
    transform: translateY(0px);
}
