  <div class="header">
    <div class="heading">PT</div>
     <nav class="nav">
        <a routerLink="/" routerLinkActive="active"><i class="fas fa-home"></i>Home</a>
        <a routerLink="/about" routerLinkActive="active"><i class="fas fa-info-circle"></i>About</a>
        <a routerLink="/projects" routerLinkActive="active"><i class="fas fa-graduation-cap"></i>Work</a>
        <a routerLink="/projects" routerLinkActive="active"><i class="fas fa-graduation-cap"></i>Projects</a>
        <a routerLink="/experience"><i class="fas fa-briefcase"></i>Skills</a>
      </nav>
    </div>

