<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id=container>
    <div id=flip>
      <div><div>Software</div></div>
      <div><div>Full Stack </div></div>
      <div><div>AWS Certified</div></div>
    </div>
    Developer
  </div>

  <div class="About-Me">
    <div id="about-me-header">
      <h2>About Me</h2>
    </div>
    <p>"Welcome to my portfolio! I'm a versatile Full Stack Developer dedicated to crafting robust and scalable solutions that bridge the gap between user expectations</p>
    <p>and business objectives. With expertise spanning front-end and back-end development, combined with a knack for database management and optimization,</p>
    <p>I thrive on delivering high-quality software solutions tailored to meet the unique needs of every project."</p>
  </div>



</body>
</html>







