.about{
  margin-bottom: 25px;
}
.e-card {
  text-align: center;
  margin-bottom: 20px;
}

.infotop {
  margin-bottom: 20px;
  text-align: end;
}

.icon {
  width: 50px;
  height: 50px;
}

.name {
  font-size: 1.2em;
  font-weight: bold;
}

.header {
  text-align: center;
  margin: 20px 0px;
}

.header h2 {
  font-size: 2em;
  margin: 20px 20px 20px 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #576574;
  display: inline-block;
}

.About-Me .line-1 {
  margin: 20px 0;
  color: #576574;
  font-size: 1.1em;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 20px;
}

.column.left {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column.left img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.comic-button {
  background-color: #c2b6b6;
  background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  flex: 1;
  text-align: center;
}

.comic-button a {
  color: #fff;
  text-decoration: none;
}

.comic-button:hover {
  background-color: #c2b6b6;
  background-image: linear-gradient(315deg, #c0aa5e 0%, #415c79 74%);
}

.signature_head {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.usp__list {
  list-style: none;
  padding: 0;
}

.usp__item {
  background-color: #c2b6b6;
  background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
  color: #fff;
  padding: 10px;
  width:70%;
  margin: 5px 0;
  border-radius: 5px;
}


