<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="About-Me">
    <div id=container-flip>
      <div id=flip>
        <div><div>Software</div></div>
        <div><div>Full Stack </div></div>
        <div><div>AWS Certified</div></div>
      </div>
      Developer
    </div>
    <div id="about-me-header">
        <h2>About Me</h2>
      </div>
      <p>"Welcome to my portfolio! I'm a versatile Full Stack Developer dedicated to crafting robust and scalable solutions that bridge the gap between user expectations and business objectives."</p>
      <p>"With expertise spanning front-end and back-end development, combined with a knack for database management and optimization."</p>
      <p>"I thrive on delivering high-quality software solutions tailored to meet the unique needs of every project."</p>

      <div class="row">
        <!--profilephoto-->
        <div class="column left">
            <img src="../../assets/images/Linkedin_photo-pp.jpg" alt="profile-pic" width="360" height="360" class="rounded-circle">
        </div>
        <!--Keynotes-->
        <div class="column right">
          <h2 class="signature_head">Signature Strengths</h2>
          <ul class="usp__list">
            <li class="usp__item">Angular Framework</li>
            <li class="usp__item">AWS Cloud Solution Architect</li>
            <li class="usp__item">Continuous Integration/Continuous Delivery (CI/CD)</li>
            <li class="usp__item">Microservices Architecture</li>
            <li class="usp__item">Database Design</li>
            <li class="usp__item">Design Pattern</li>
            <li class="usp__item">Java / SpringBoot</li>
          </ul>
        </div>

      </div>
    </div>
</body>
</html>







