body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

.header {
  text-align: center;
  margin: 20px 0px;
}

.header h2 {
  font-size: 2em;
  margin: 20px 20px 20px 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #007bff;
  display: inline-block;
}


.tilesWrap {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.tilesWrap li {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.tilesWrap li:hover {
  transform: translateY(-10px);
  background-color: #0056b3;
}

.tilesWrap h2 {
  font-size: 1.5em;
  margin: 0;
}

.tilesWrap h3 {
  font-size: 1.2em;
  margin: 5px 0;
}

.tilesWrap p {
  margin: 5px 0;
}

#experience-heading {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

/* Additional general styles for the page */
.about, .experince {
  margin-bottom: 40px;
}

.comic-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.comic-button a {
  color: #fff;
  text-decoration: none;
}

.comic-button:hover {
  background-color: #0056b3;
}

.name, .signature_head {
  font-weight: bold;
}

.usp__list {
  list-style: none;
  padding: 0;
}

.usp__item {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}
