body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

.experince {
  margin-bottom: 50px;
}

.header {
  text-align: center;
  margin: 20px 0px;
  margin-bottom: 10px;
  animation: fadein 2s;
}

.header h2 {
  font-size: 2em;
  margin: 20px 20px 20px 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #576574;
  display: inline-block;
  animation: fadein 2s;
}

.tilesWrap {
  list-style:circle;
  padding: 0px;
  margin: 40px 50px;
  display: grid;
  gap: 20px;
}

.tilesWrap li {
  background-color: #c2b6b6;
  background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
  color: #fff;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  animation: fadein 2s;
}

.tilesWrap li:hover {
  transform: translateY(-10px);
  background-color: #0056b3;
}

.tilesWrap h2 {
  font-size: 1.5em;
  margin: 0;
}

.tilesWrap h3 {
  font-size: 1.2em;
  margin: 5px 0;
}

.tilesWrap p {
  margin: 5px 0 20px;
}

#experience-heading {
  font-size: 1.5em;
  padding: 10px 10px 25px 10px;
  text-align: center;
  animation: fadein 5s;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

/* Additional general styles for the page */
.about, .experince {
  margin-bottom: 40px;
}

.comic-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.comic-button a {
  color: #fff;
  text-decoration: none;
}

.comic-button:hover {
  background-color: #0056b3;
}

.name, .signature_head {
  font-weight: bold;
}

.usp__list {
  list-style: none;
  padding: 0;
}

.usp__item {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Media Queries*/

@media (max-width: 425px) {

  .tilesWrap {
    width: 250px;

  }
}
