/*Experience tiles*/

.header::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.header:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  pointer-events: stroke;
  inset: 0 0 0 0;
  background:black;
  background-repeat: no-repeat;
  z-index: -1;
  transition: transform .5s ease-in-out;
}
.header{
  position: relative;
  font-family: 'helvetica', 'san-serif';
  margin-bottom: 5%;
  top: 15%;
  font-size: 30px;
  margin-left: 0.2%;
  text-align: left;
  cursor: pointer;
  --😀:#f8f9fa ;
  --😀😀: rgb(112, 109, 109);
  --😀😀😀: black;
  cursor: pointer;
  width: 184px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.125em;
  font-weight: 800;
  letter-spacing: 2px;
  color: rgb(112, 109, 109);
  background: var(--😀);
  border: 2px solid var(--😀😀);
  border-radius: .75rem;
  box-shadow: 0 8px 0 var(--😀😀);
  transform: skew(-10deg);
  transition: all .1s ease;
  filter: drop-shadow(0 15px 20px var(--😀😀😀));

}
.experience{
  text-align: left;
  position:relative;
  width:100%;
  font-size:36px;
  color:#ffffff;
  padding-bottom: 50%;
  bottom: 20%;
}
.tilesWrap {
  list-style: none;
  text-align: center;
  font-family: 'helvetica', san-serif;
  bottom: 10%;
  padding-bottom: 10%;
}
.tilesWrap li {
  display: inline-block;
  font-family: 'helvetica', san-serif;
  width: 30%;
  width: 540px;
  padding: 80px 20px 40px;
  position: relative;
  vertical-align: top;
  margin: 10px;
  font-family: 'helvetica', san-serif;
  height: 700px;
  background: transparent;
  border: 2px solid rgb(112, 109, 109);
  text-align: left;
}
.tilesWrap li h2 {
  font-size: 114px;
  color: rgb(255, 255, 255);
  margin: 0;
  position: relative;
  opacity: 0.2;
  top: 50px;
  right: 10px;
  transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
  font-size: 36px;
  margin-top: 10px;
  color: whitesmoke;
  margin-bottom: 5px;
}
.tilesWrap li p {
  font-size: 20px;
  line-height: 18px;
  color: whitesmoke;
  margin-top: 5px;
}

.tilesWrap li p {
  background:none;
  border: 1px solid #b7b7b7;
  padding: 10px 20px;
  color: whitesmoke;
  border-radius: 3px;
  border-bottom: 10%;
  position: relative;
  transition: all 0.3s ease-in-out;
  text-shadow: 0px 0px 2px rgb(112, 109, 109), 0px 0px 5px rgb(14, 13, 13);
  transform: translateY(-40px);
  opacity: 0;
  cursor:auto;
  overflow: hidden;
}
.tilesWrap li p:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 120%;
  background:transparent;
  top: 0;
  opacity: 0;
  left: -140px;
  border-radius: 0 20px 20px 0;
  cursor:none;
  z-index: -1;
  transition: all 0.3s ease-in-out;

}

.tilesWrap li:hover p {
  transform: translateY(5px);
  opacity: 1;
}
.tilesWrap li p:hover {
  color: whitesmoke;
}
.tilesWrap li p:hover:before {
  left: 0;
  opacity: 1;
}
.tilesWrap li:hover h2 {
  top: 0px;
  opacity: 0.8;
}

.tilesWrap li:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: transparent;
  transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
  content: '';
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.02);
}


