.header {
  text-align: center;
  margin: 20px 0;
}

.header h2 {
  font-size: 2em;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #576574;
  display: inline-block;
}

.projects {
  position: relative;
  max-width: 100%;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

#projects-heading {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.project-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 300px;
  text-align: center;
  padding: 10px;
}

.project-card:hover {
  color: #fff;
  background-color: #c2b6b6; /* Light background color change on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.project-card img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #007bff;
  margin-bottom: 15px;
}

.project-card h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.project-card a {
  color: #576574;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
  transition: color 0.3s ease;
}

.project-card a:hover {
  color: white;
}

