.header::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.header:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  pointer-events: stroke;
  inset: 0 0 0 0;
  background:black;
  color: #fff;
  background-repeat: no-repeat;
  z-index: -1;
  transition: transform .5s ease-in-out;
}
.header{
  position: relative;
  font-family: 'helvetica', 'san-serif';
  margin-bottom: 1.5%;
  top: 10%;
  font-size: 30px;
  margin-left: 0.2%;
  text-align: left;
  cursor: pointer;
  --😀:#f8f9fa ;
  --😀😀: rgb(112, 109, 109);
  --😀😀😀: black;
  cursor: pointer;
  width: 184px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.125em;
  font-weight: 800;
  letter-spacing: 2px;
  color: rgb(112, 109, 109);
  background: var(--😀);
  border: 2px solid var(--😀😀);
  border-radius: .75rem;
  box-shadow: 0 8px 0 var(--😀😀);
  transform: skew(-10deg);
  transition: all .1s ease;
  filter: drop-shadow(0 15px 20px var(--😀😀😀));
}

#projects-heading{
  position: relative;
  text-align: justify;
  font-family: 'helvetica', san-serif;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 5%;
  top: 0%;
  margin-top: 0%;
  text-shadow: 0px 0px 2px rgb(112, 109, 109), 0px 0px 3px whitesmoke;
  margin-left: 5%;
}
.projects{
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
}
.project-card {
  display: inline-block;
  overflow: hidden !important;
  margin-bottom: 2%;
  width: 400px;
  height: 450px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 5px 2px 5px rgb(112, 109, 109), 0px 5px 10px whitesmoke;
  transition: background-color 0.3s, transform 0.3s;
}

.project-card:hover {
  background-color:rgb(112, 109, 109);
  color: #fff;
}

.project-card img {
  width: 100%;
  height: 300px;
}

.project-card h2 {
  margin: 10px 0;
  font-size: 24px;
}

.project-card p {
  margin: 10px 0;
  font-size: 16px;
}

.project-card a {
  display: inline-block;
  font-family: 'helvetica', 'san-serif';
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.4s;
}

.project-card a:hover {
  background-color: white;
  color: black;
}


