  <div class="header"><h2>Skills</h2></div>
  <p id="skills-heading">{{skill_heading}}</p>
  <div class="cards">
    <div class="card s1">
        <p class="tip">Front End Development</p>
        <ul class="parentlist">
          <div *ngFor="let fskill of frontendskills" class="fkill">
          <li>
            <p>{{ fskill.name }}</p>
            <p>{{ fskill.experience}}</p>
          </li>
        </div>

        </ul>
    </div>
    <div class="card s2">
        <p class="tip">Back End Development</p>
        <ul class="parentlist">
          <div *ngFor="let bskill of Backendskills" class="bskill">
            <li>
              <p>{{ bskill.name }}</p>
              <p>{{bskill.experience}}</p>
            </li>
          </div>
        </ul>
      </div>
    <div class="card s3">
        <p class="tip">Cloud and Tools</p>
        <ul class="parentlist">
          <div *ngFor="let tools of Tools" class="tools">
            <li>
              <p>{{ tools.name }}</p>
              <p>{{tools.experience}}</p>
            </li>
          </div>

        </ul>
    </div>
</div>


