.skill{

}

.header {
  text-align: center;
  margin: 20px 0;
}

.header h2 {
  font-size: 2em;
  margin: 0 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #576574;
  display: inline-block;
}

#skills-heading {
  font-size: 1.5em;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  width: 100%;
  max-width: 300px;
  text-align: center;
  z-index: 1;
}

.card:hover {
  color: #fff;
  background-color: #c2b6b6;
  background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.cards:hover .card:not(:hover) {
  filter: blur(5px);
}

.tip {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.parentlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.parentlist li {
  margin: 10px 0;
}

.parentlist p {
  margin: 5px 0;
}
